In [6]:
%matplotlib inline
%config Completer.use_jedi=False

In [7]:
import datetime
import glob

import pandas as pd
import numpy as np

from tqdm import tqdm_notebook
from collections import defaultdict

## Cluster Level Biking Distance
Let $A = \{s_{A,1}, \dots, s_{A,N}\}$ and $B = \{s_{B,1}, \dots, s_{B,M}\}$ be two arbitrary clusters. Also, let $N,M,n \in \mathbb{N}$.Define

$$ D(A,B) := \text{Avg}(d_1, \dots, d_n),~d_k \mapsto \text{Dist}(s_{A,i},~s_{B,j})~~~~~~~~~~~~~~~~~~(k \in [1, \dots, n],~i \in N,~j \in M)$$

where $d_1, \dots, d_n$ are **all possible** distances from stations in these clusters.

>* **NOTE:** Routes where there were 0 recorded trips were excluded from the data collection. Thus, there are many routes where there will be NaN values. However, on a clusger level there "shouldn't" be any NaN's.

In [29]:
def D(A, B, cluster_stations):
    all_A = cluster_stations[A]
    all_B = cluster_stations[B]
    
    #print(all_A, all_B)
    
    all_dist = []
    for aA in all_A:
        for aB in all_B:
            try:
                df = pd.read_csv('../../data/routes/bicycling/bicycling_' + str(aA) + '-' + str(aB) + '.csv')
            except Exception as e:
                try:
                    df = pd.read_csv('../../data/routes/bicycling/bicycling_' + str(aB) + '-' + str(aA) + '.csv')
                except Exception as es:
                    continue
            
            dist = df[['distance']].values.tolist()
            
            converted_dist = []
            for d in dist:
                if 'km' in d[0]:
                    converted_dist.append(float(d[0].split()[0]) * 1000)
                elif 'm' in d[0]:
                    converted_dist.append(float(d[0].split()[0]))
                else:
                    raise Exception('Neither Meter or Kilometers label.')
            
            all_dist.append(sum(converted_dist))
    
    #returns NaN if there aren't any observations from these stations
    return np.mean(all_dist)

#### Station -> Cluster mapping

In [30]:
stat_map_clus = pd.read_csv('../../data/Pu_data/station_cluster_mapping.csv')
stat_map_clus.head()

   station_id  cluster_ID
0           1          97
1           2          28
2           3         118
3           4          86
4           5          60

In [31]:
uniq_clusters = stat_map_clus.cluster_ID.unique()
uniq_clusters[:3]

array([ 97,  28, 118])

In [32]:
cluster_stations = defaultdict(list)

for uc in uniq_clusters:
    tmp_df = stat_map_clus[stat_map_clus.cluster_ID == uc]
    cluster_stations[uc] = tmp_df.station_id.values.tolist()

In [33]:
cluster_stations[24]

[607, 617, 656]

In [56]:
cluster_stations

defaultdict(list,
            {4: [682],
             5: [598, 668, 730, 753],
             6: [591],
             7: [566, 601],
             12: [678, 694, 705, 708, 709, 743],
             13: [693],
             14: [615, 681],
             15: [599, 635, 644, 655, 686, 696, 707, 711, 761],
             16: [293, 595, 608, 634, 687],
             17: [515, 527, 571, 606, 647, 657, 667, 736],
             18: [442, 555, 650, 652, 663, 740, 741, 742, 754],
             23: [685, 688, 704, 728, 752, 767],
             24: [607, 617, 656],
             25: [596, 597, 616, 619, 671, 727, 729],
             26: [626, 633, 639, 720],
             27: [38, 142, 158, 274, 660, 666],
             28: [2, 145, 168, 212, 398, 559, 611, 622],
             29: [151, 225, 337, 379, 543, 560, 661],
             30: [643, 758],
             34: [621, 629, 665, 684, 724],
             35: [628, 636, 648, 723],
             36: [618, 691, 731, 737, 738, 745],
             37: [573, 651, 739, 757],
             38: [37, 97, 113, 128, 155, 171, 216, 219, 296, 332, 384, 405],
             39: [36, 103, 133, 157, 266, 277, 375, 404],
             40: [29, 105, 164, 224, 261, 307, 333, 397, 524, 568, 584],
             41: [47, 165, 176, 592],
             42: [255],
             45: [623, 637, 689, 734],
             46: [638, 642, 653, 659, 672, 673, 675, 735, 744, 764],
             47: [679, 680, 700, 701, 746],
             48: [345, 430, 529, 589, 610, 649, 662, 755],
             49: [150, 163, 172, 187, 218, 220, 231, 356, 378, 432],
             50: [248, 258, 300, 350, 373, 392, 428],
             51: [153, 169, 265, 330],
             52: [182, 186, 208, 238, 279, 290, 370, 394, 402, 408, 410, 759],
             53: [8, 60, 110, 247, 286, 312, 363, 590],
             54: [7],
             57: [609, 627, 632, 683],
             58: [620, 658, 664, 710, 750, 756],
             59: [747],
             60: [5, 137, 143, 209, 211, 250, 395, 423],
             61: [166, 181, 191, 207, 222, 292, 303, 368],
             62: [99, 111, 138, 180, 289, 304, 366, 389, 406],
             63: [43,
              45,
              56,
              114,
              121,
              188,
              201,
              210,
              242,
              257,
              367,
              396,
              400,
              403,
              514],
             64: [315, 760],
             65: [271, 329, 343],
             68: [612, 670, 677, 690],
             69: [614, 625, 631, 640, 725, 726],
             70: [185, 245, 291, 419],
             71: [124, 148, 161, 167, 177, 178, 243, 268, 288, 320, 360, 424],
             72: [213, 316, 646, 733],
             73: [44,
              49,
              53,
              106,
              116,
              129,
              141,
              159,
              301,
              318,
              348,
              349,
              380,
              382,
              391,
              528,
              541],
             74: [6, 13, 28, 81, 184, 311, 313, 357, 381, 581],
             75: [20, 21, 76, 90, 98, 131, 239, 540],
             76: [456, 457, 462, 535, 545, 572, 604, 713],
             80: [602, 624, 630, 676, 714],
             81: [74, 294, 600],
             82: [118, 146, 190, 221, 267, 281, 299, 353, 376, 426, 558],
             83: [108, 259, 359, 583],
             84: [18,
              64,
              83,
              160,
              192,
              226,
              228,
              229,
              233,
              260,
              325,
              341,
              354,
              383,
              386],
             85: [11, 12, 15, 24, 77, 88, 109, 244, 287, 306, 358, 364, 562],
             86: [4, 14, 16, 19, 25, 65, 69, 89, 214],
             87: [34, 362, 431],
             91: [603, 669],
             92: [149, 270, 305, 352, 355, 440, 654],
             93: [86, 91, 100, 117, 139, 144, 235, 310, 387, 412, 437, 441],
             94: [154, 173, 197, 252, 272, 284, 334, 347, 371, 377, 641],
             95: [27, 82, 174, 256, 273, 283, 309, 335, 338, 388, 564, 594],
             96: [17,
              22,
              23,
              57,
              66,
              67,
              68,
              72,
              84,
              147,
              162,
              232,
              372,
              436,
              546,
              751],
             97: [1, 26, 59, 70, 170, 189, 204, 227, 254, 264, 433, 593],
             98: [93, 234, 339, 439, 674, 697],
             103: [580],
             104: [62, 152, 297, 324, 409, 411, 435, 549],
             105: [80, 92, 125, 196, 240, 249, 262, 420, 548, 645],
             106: [9, 48, 136, 193, 195, 230, 427],
             107: [52,
              54,
              71,
              95,
              112,
              120,
              126,
              127,
              135,
              203,
              246,
              393,
              557,
              703],
             108: [30, 42, 51, 75, 78, 107, 123, 344, 351, 365, 544],
             109: [326, 574, 695],
             115: [94, 156, 223],
             116: [61, 194, 269, 278, 295, 308, 314, 317, 321, 706],
             117: [10, 101, 199, 276, 587, 732],
             118: [3,
              41,
              55,
              87,
              122,
              140,
              175,
              215,
              217,
              251,
              263,
              275,
              331,
              340,
              509],
             119: [31, 32, 39, 50, 58, 63, 73, 96, 119, 319, 323, 327, 588],
             120: [253, 465, 569, 748],
             127: [85, 298],
             128: [46, 102, 104, 130, 134, 202, 237, 452, 489, 490],
             129: [33, 40, 115, 200, 236, 390, 399, 506, 508, 537],
             130: [132, 322, 401, 445, 486, 533, 539, 702],
             131: [463, 466, 534, 536, 698, 699, 717, 749],
             139: [449, 451, 453, 458, 488, 511, 552],
             140: [205, 282, 443, 450, 464, 500, 503, 513, 565],
             141: [444, 446, 479, 501, 507, 578, 722],
             142: [512, 553, 718, 719],
             150: [480],
             151: [461, 478, 483, 550, 561, 715],
             152: [485, 491, 492, 518, 520, 522, 531, 577],
             153: [521],
             160: [502, 556, 576],
             161: [448, 482, 487, 510],
             162: [460, 499, 505, 542, 712, 716],
             163: [467, 468, 470, 472, 497, 498],
             164: [459, 471, 517, 721],
             165: [692],
             170: [454, 476, 477, 481, 586],
             171: [455, 473, 474, 475, 494, 504, 526, 563, 570],
             172: [516, 525, 530, 532, 538, 551],
             173: [469, 519, 523],
             174: [484, 495, 496],
             181: [447],
             183: [547],
             184: [554]})

#### Calculation

In [58]:
possible_cluster_routes = []

keys = cluster_stations.keys()
for k in keys:
    tmp = []
    for k_tmp in cluster_stations.keys():
        if k != k_tmp:
            tmp.append((k, k_tmp))
    assert len(tmp) == 111
    possible_cluster_routes.append(tmp)

In [59]:
avg_D = {}
for pcr in tqdm_notebook(possible_cluster_routes[:2]):
    for ctup in pcr:
        avg_D[ctup] = D(ctup[0], ctup[1], cluster_stations)
        break
    break

HBox(children=(IntProgress(value=0, max=2), HTML(value='')))

/usr/local/Cellar/python3/3.5.2_1/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/Cellar/python3/3.5.2_1/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [60]:
df_avg_D = pd.DataFrame(avg_D, index=[0])
df_avg_D

    4
    5
0 NaN

In [39]:
df_avg_D = df_avg_D.T
df_avg_D.columns = ['average_distance']

In [61]:
df_avg_D

    4
    5
0 NaN